body {
    background-image: url('/static/assets/typewriter.jpeg');
}

textarea {
    border-width: 0;
    resize: vertical;
    width: 99%;
}

.content {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.result {
    background-color: #72482E;
    text-align: center;
    color: white;
    overflow: auto;
    overflow-y: auto;
}

#ascii {
    margin: auto;
}