<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>ASCII-Art</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/nav.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- The overlay -->
    <div id="myNav" class="overlay">
        
        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        
        <!-- Overlay content -->
        <div class="overlay-content">
            <h3>What is ASCII Art?</h3>
            <p>ASCII art is a graphic design technique that uses computers for presentation<br> and consists of
                pictures
                pieced together
                from the printable characters defined by the ASCII Standard.</p>
                <h3>What am I supposed to do here?</h3>
                <p>Type any text &#8702; Enter file name &#8702; Select a font &#8702; Export
                    &#8702; Enjoy
                    &#9786;</p>
                </div>
                
            </div>
            
            <!-- Use any element to open/show the overlay navigation menu -->
            <ul>
                
                <li>
                    <div class="info">
                        <span onclick="openNav()">
                            <i class="fa fa-question-circle"></i>
                        </span>
                    </div>
                </li>
            </ul>
            <div class="content">
                <textarea name="text" rows="7" placeholder="Type something here..." id="input" maxlength="1000"></textarea>
                <input type="text" id="file-name" placeholder="File name..." maxlength="30">
                <select id="font">
                    <option value="standard">Standard</option>
                    <option value="shadow">Shadow</option>
                    <option value="thinkertoy">Thinkertoy</option>
                </select>
                
                <button type="button" value="Download" id="dwn-btn" onclick="exportFile()">Export</button>
            </div>
            <div class="result">
                <pre id="output">
                     _                            _     _                                     __   
                    | |                          | |   | |                                 _  \ \  
                    | |__     ___   _   _        | |_  | |__     ___   _ __    ___        (_)  | | 
                    |  _ \   / _ \ | | | |       | __| |  _ \   / _ \ | '__|  / _ \            | | 
                    | | | | |  __/ | |_| |       \ |_  | | | | |  __/ | |    |  __/        _   | | 
                    |_| |_|  \___|  \__, |        \__| |_| |_|  \___| |_|     \___|       (_)  | | 
                                    __/ /                                                     /_/  
                                   |___/                                                           
                </pre>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="static/js/main.js"></script>
            <script src="static/js/nav.js"></script>
        </script>
    </body>
    </html>