<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>ASCII-Art</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/main.css'>
</head>

<body>
    <div class="content">
            <textarea name="text" rows="7" placeholder="Type something here..." id="input"></textarea><br />
            <select id="font">
                <option value="standard">Standard</option>
                <option value="shadow">Shadow</option>
                <option value="thinkertoy">Thinkertoy</option>
            </select>
            <button type="submit" value="Submit" onclick="process()">Submit</button>
            <select name="format" id="format">
                <option value=".txt">.txt</option>
                <option value=".pdf">.pdf</option>
                <option value=".json">.pdf</option>
            </select>
            <button type="button" value="Download" id="dwn-btn">Export</button>
    </div>
    <div class="result">
        <pre id="output">Text</pre>
    </div>
    <script src="static/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    </script>
</body>

</html>