<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>ASCII-Art</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/main.css'>
</head>
<body>
    <div class="content">
        <form action="/" method="POST">
            <textarea name="text" rows="7" placeholder="Type something here..."></textarea><br />
            <select name="font">
                <option value="standard">Standard</option>
                <option value="shadow">Shadow</option>
                <option value="thinkertoy">Thinkertoy</option>
            </select>
            <button type="submit" value="Submit">Submit</button>
        </form>
    </div>
    <div class="result">
        <pre>{{.Output}}</pre>
    </div>
</body>
</html>